body {
    background-image: url("./images/background.svg");
    background-color: #cccccc;
}

header {
    display: flex;
    margin: 1em 2em 1em;
    justify-content: space-between;
}

header img {
    display: inline-block;
}

header nav {
    width: 50%;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

header nav ul a {
    text-decoration: none;
    color:gray;

}
header ul il :hover {
    opacity: 0.6;
}

header nav ul il.active a{
	color: blue;
}
 
.contact-us{
    border : 0.2em solid black ; 
    background-color: black;
    color: white;
	border-radius: 10px;
	padding: 1.00em 2.00em;
    text-decoration: none;
}

.contact-us:hover {
    border-color: #5468E7 ;
	background-color  :  #5468E7 ;
	color: white;
	transition: 1.5s ease ; 
}

h1 {
    display: inline-block;
    font-size: 4em;
    margin-top: 0.67em;
    margin-left: 2.00em;
    font-weight: bold;
}

p {
    font-size: 1.00em;
    margin-left: 7.00em;
    margin-bottom: 3.00em ;
    color: gray;
}
 .recent-works{
    border : 0.2em solid #5468E7 ; 
    background-color: #5468E7;
    color: white;
	border-radius: 10px;
	padding: 1.00em 2.00em;
    margin-left: 7.00em;
    text-decoration: none;
 }

 .recent-works:hover {
    border-color: gray;
	background-color  :  gray;
	color: white;
	transition: 1.5s ease ; 
}