body{
    background-color: #C897E4;
    background-size:cover; 
}

.responsive{
    position: absolute;    
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: blue;
	border : 2px solid white ; 
	border-radius: 10px;
	padding: 15px 20px;

}
.titleContent{
    position: absolute;
    left: 50%;
    top: 20%;
	transform: translate(-50%, -50%);
    color:white ;	
	text-align: center ;
    font-size: 20px;   
}

.webPage{
    position: absolute;
	top: 70%;
	left:45%;
	transform: translate(-50%, -50%);
    background-color: white;
    background-size:cover; 
    width:1050px; height:500px;
    border-radius:15px;
}

.logo{
    position: fixed;
    top: 10%;
	left:10%;
	transform: translate(-70%, -30%);
    width: 100px;
    height: 40px;
}
ul{
	/* float: right; */
    position: fixed;
    top: 10%;
	left:50%;
	transform: translate(-70%, -60%);
	/* list-style-type: none; */
}
li{
	display: inline-block;
	vertical-align: middle;
}
ul li a{
	color:gray;
	text-decoration: none;
	font-size: 20px;
	vertical-align: middle;
	letter-spacing: 5px;
	padding: 10px;
    font-weight: bold;
}
ul li.active a{
	color: blue;
}
